body {
  background-color: lightgray;
  color: rgb(36, 36, 36);
}

h1 {
  font-size: 30px;
  text-align: center;
}

select {
  background-color: lightgray;
  border-radius: 2px;
}

p {
  text-align: center;
}

#grid-size-chooser {
  width: 140px;
  margin: auto;
}

#grid {
  display: grid;
  grid-auto-rows: auto;
  margin: 15px auto;
}

.box {
  height: 25px;
  width: 25px;
  margin: 1px;
  background-color: darkgray;
  border-radius: 2px;
  border: 1px solid gray;
}

.box:hover {
  background-color: darkgray;
  border: 1px solid rgb(36, 36, 36);
  cursor: pointer;
}

.tree {
  background-color: lightgray;
  background-image: url("./images/tree.png");
  border: none;
}

.matt {
  background-color: lightgray;
  background-image: url("./images/matt.png");
  border: none;
}

.home {
  background-color: lightgray;
  background-image: url("./images/home.png");
  border: none;
}

.matt:hover, .home:hover {
  background-color: lightgray;
  border: none;
  cursor: default;
}

.visited {
  background-color: rgb(36, 36, 36);
  height: 10px;
  width: 10px;
  border-radius: 10px;
  margin: auto;
  border: none;
}

#solve, #reload {
  width: 150px;
  text-align: center;
  margin: auto;
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid darkgray;
  background-color: greenyellow;
  border-radius: 5px;
}

#solve:hover, #reload:hover {
  border: 1px solid rgb(36, 36, 36);
  background-color: rgb(136, 204, 33);
  cursor: pointer;
}